* {
	box-sizing: border-box;
}

body {
	background: url(//subtlepatterns.com/patterns/scribble_light.png);
  font-family: Calluna, Arial, sans-serif;
  min-height: 1000px;
}



/*--------------------Registration-------------------------- */
.welcome-wrapper {
	display: flex;
	flex-direction: row;
}
.registration_form {
	padding: 100px 0 0 100px ;
	width: 100%;
	display: flex;
	flex-direction: column;
}

input, select, textarea, button {
	width: 80%;
	height: 50px
}

.error-message {
	padding:10px;
}

button:disabled {
	color: red;
}

.profile-container {
	margin: 0 20% 0;
	border: solid  #D4DCE9 1px;
	height: 100vh;
}
header {
	background:  #2A5491;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 50px;

}

header input {
	width:200px;
	height:30px;
}
.cover-photo-container {
	background-image: url("https://images.unsplash.com/photo-1557502706-5a0e03129173?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1009&q=80");
	height: 200px;
	width: 100%;
	border: solid  #D4DCE9 1px;
	margin-bottom: 20px;
}
.profile-img {
	background-color: #fff;
	border-radius: 2px;
	display: block;
	height: 160px;
	position: relative;
	width: 160px;
	border: 4px solid #fff;
	border-radius: 100%;
	display: block;
	top: 60px;
	left: 30px;
}
.profile-img::after {

}

.profile-img:hover {


}
/*--------------------uploder-------------------------- */

.uploader {
	background-color: white;
	border: solid 1px;
	position: fixed;
	bottom: 15%;
	left: 10%;
	width: 70%;
	height: 65%;
	padding:20px;
}
.uploader form {
	height: 100%;
}

.upload-btn {
		position: absolute;
	bottom: 10px;
	width:150px;
	margin-left: 5px;
}

.profile-bottom {
	display: flex;
	flex-direction: row;

}

.bio {
	background: white;
	position: relative;
	width: 95%;
	height: 400px;
	border-right: solid  #D4DCE9  1px;
	border-top: solid  #D4DCE9 1px;
	border-bottom: solid  #D4DCE9 1px;
}
.posts-container {
	background-color: white;
	width: 95%;
	height:400px;
}
