* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
}
a {
    color: #365899;
}
body {
    background: #f2f3f5;
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}

/*--------------------login-------------------------- */

.welcome-wrapper {
    background-color: #e9ebee;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bluebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #3b5998;
    width: 100vw;
    height: 82px;
    min-width: 980px;
}
.bluebar h1 {
    font-size: 40px;
    margin-left: 250px;
}
.login-form form {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    margin-right: 250px;
}
.login-form button {
    background-color: #365899;
    border-color: #29487d;
    color: white;
    width: 60px;
    height: 20px;
    font-weight: bold;
}
form div {
    width: 160px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    width: 150px;
    height: 20px;
    margin: 10px;
}
.login-form div {
    margin-left: 10px;
    width: 100%;
    height: 15px;
}
.login-form span {
    margin-right: 20px;
    display: inline-block;
    width: 150px;
    font-size: 12px;
}
/*--------------------Registration-------------------------- */

.registration-container {
    color: #333;
    display: flex;
    flex-direction: row;
}
.recent-logins {
    width: 800px;
    padding: 0 250px;
    overflow: visible;
    padding-right: 48px;
}

.registration-form {
    display: flex;
    flex-direction: column;

    width: 400px;
}
.name-input {
    display: flex;
    flex-direction: row;
}
.registration-form input,
select {
    height: 50px;
    margin: 10px;
    order: 1px solid #ccd0d5;
    border-radius: 5px;
    margin-right: 20px;
    width: 377px;
}
.terms {
    padding: 22px 10px;
    font-size: 11px;
    color: #777;
    font-size: 11px;
    width: 316px;
}
.registration-form button {
    width: 194px;
    padding: 7px 20px;
    text-align: center;
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22;
    border-radius: 5px;
    color: white;
}
.error-message {
    padding: 10px;
}
.languages {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 20px 100px;
    background-color: #f2f3f5;
    color: blue;
    text-align: center;
    color: #385898;
    cursor: pointer;
}

/*--------------------------------------------------------------------------- */

/*--------------------header-------------------------- */

header {
    font-weight: bold;
    background-color: #3b5998;
    border: solid black 1px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 19%;
    padding-right: 15%;
}
.search-btn {
    width: 23px;
    height: 25px;
    margin-right: 100px;
    background-color: white;
    color: #4b4f56;
}

.logo {
    width: auto;
    height: 20px;
}
.search-users {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
}

.search-users input {
    width: 400px;
    height: 25px;
    border-radius: 1px;
}
.search-btn {
    position: relative;
    left: 0;
}
.header-search-results {
    z-index: 1000;
    position: fixed;
    background: white;
    border: solid light-grey 1px;
    border-radius: 3px;
    width: 400px;
    color: black;
    top: 30px;
    left: 270px;
}

.nav-bar-1,
.nav-bar-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.nav-bar-1 .nav-btn {
    color: white;
    width: 70px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-decoration: none;
    border-right: 1px dashed #355088;
}
.nav-bar-1 .nav-btn:hover {
    background-color: #355088;
}
.nav-btn img {
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}
.nav-btn p {
    position: relative;
    top: 0;
    width: 30px;
    margin: 0 5px;
}

.nav-bar-2 .nav-btn {
    color: white;
    width: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-right: 1px dashed grey;
}
/*---------------------------------profile---------------------------------- */
.profile-container {
    width: 950px;
    margin: 0 20% 0;
    height: 100vh;
}
.profile-top {
}
.profile-bottom {
    display: flex;
    flex-direction: row;
}
.profile-bottom > {
}
/*--------------------profile pic-------------------------- */

.cover-content {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: -80px;
    left: 210px;
}
.clicker {
    width: 800px;
    height: 200px;
    position: absolute;
}
.clicker:hover {
    cursor: pointer;
}
.popup:hover .popup {
    opacity: 0.8;
}
.popup {
    position: relative;
    top: 25px;
    left: 25px;
    background: #1c1e21;
    color: white;
    padding: 5px 10px;
    border: solid white 1px;
    border-radius: 3px;
    height: 34px;
    opacity: 0.1;
    cursor: pointer;
    transition: opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
        width 0.3s step-end;
}
.popup p {
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.cover-name {
    width: 400px;
}
.profile-action {
    width: 600px;
}
.profile-action button {
    width: 100px;
    height: 30px;
    color: #606770;
}
.profile-img-container {
    overflow: hidden;

    border-radius: 2px;
    display: block;
    height: 150px;
    position: relative;
    width: 150px;
    border-radius: 100%;
    bottom: -170px;
    left: 30px;
    z-index: 10;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 4px solid #fff;
}

.overlay {
    font-size: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 150px;
    height: 0;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    transition: 0.3s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.profile-img-container:hover .overlay {
    height: 75px;
}

.timeline-nav-top {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
    padding-left: 250px;
    padding-right: 150px;
    margin-bottom: 20px;
}
.timeline-nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200px;
    padding: 0 20px;
    color: #3b5998;
    font-weight: bold;
}
.timeline-nav-btn:hover {
    background-color: #f2f3f5;
}

/*--------------------uploder-------------------------- */

.uploader {
    background-color: white;
    background-color: rgba(0, 0, 0, 0.9);
    border: solid 1px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    z-index: 100;
    display: flex;
    flex-direction: row;
}
.x-uploader-btn {
    position: fixed;
    right: 5px;
    top: 5px;
    color: grey;
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
}

.x-uploader-btn:hover {
    color: white;
}
.update-container {
    display: flex;
    flex-direction: row;
}
.update-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 500px;
    max-height: 100%;
    max-width: 100%;
}
.uploader img {
    image-rendering: optimizeQuality;

    width: auto;
    max-width: 100%;
    max-height: 90%;
}
.update-img-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 600px;
    background-color: white;
    color: #1c1e21;
    text-align: left;
    font-size: 13px;
    padding: 20px;
}
.update-img-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
}
.owner {
    display: flex;
    flex-direction: row;
    width: 100;
    height: 50px;
    font-size: 20px;
}
.owner p:hover {
    text-decoration: underline;
}
.owner img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.fake-owner {
    position: relative;
    top: 273px;
    left: -10px;
}

.upload-btn {
    width: 150px;
}
.bio-container,
.posts-container {
    background: white;
    position: relative;
    width: 50%;
    border: solid #d4dce9 1px;
    border-radius: 5px;
}

.bio-container {
    word-wrap: break-word;
    margin-right: 15px;
    height: 100vh;
}
.text-container {
    display: inline-block;
    width: 95%;
    margin: 10px;
}

/*--------------------find poeple-------------------------- */
.find-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.find-main {
    display: flex;
    flex-direction: row;
}

.filter {
    color: #4b4f56;
    font-size: 18px;
    margin-bottom: 20px;
    padding: 20px;
    width: 30%;
}
.results {
    margin-top: 10px;
    width: 40%;
    border: 1px solid dark-grey;
    border-radius: 5px;
}
.search-result {
    background: white;
    height: 7vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 30px 20px 20px;
    color: #385898;
    margin-bottom: 2px;
}
.no-results {
    padding: 20px;
}
.results h3:hover {
    text-decoration: underline;
    cursor: pointer;
}
.search-result img {
    width: 80px;
    height: 80px;
    margin-right: 50px;
    border-radius: 100%;
    border: 1px solid dark-grey;
    cursor: pointer;
}

.search-result .card-bio {
    color: black;
    font-size: 12px;
    width: 320px;
    height: 50px;
    overflow: hidden;
    margin-top: 30px;
}

.friend-btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    height: 100%;
}
.friend-btn {
    color: #4b4f56;
    font-size: 11px;
    font-weight: bold;
    width: 80px;
    height: 25px;
}

.small-message-btn {
    color: #4b4f56;
    background-color: lightgrey;
    height: 25px;
    width: 30px;
    text-align: center;
    border: solid grey 1px;
}
/*--------------------dropdown-------------------------- */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.border {
    margin: 10px;
    border-top: solid lightgrey 1px;
    border-bottom: solid lightgrey 1px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    border: solid grey 1px;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.dropdown-content a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #3b5998;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.friends {
    width: 950px;

    font-size: 12px;
    display: flex;
    flex-direction: column;
    background-color: white;
}
friends-list,
pending-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
}

friends-list-item,
pending-list-item {
    display: inline-block;
    margin: 0 0 13px 13px;
    position: relative;
    width: 90%;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #385898;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2px;
}
.friends img {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.name {
    width: 38%;
    margin-left: 15px;
}
